:host ::ng-deep .p-menubar {
  background: transparent;
  border: none;
  padding: 1.5rem 3rem;
}

:host ::ng-deep .p-menuitem-text {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

strong {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
}
