.hero {
  height: 100vh;
  background: url('/hero.png') center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url('/hero.png') center / cover no-repeat;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.hero h1 {
  font-size: 3.5rem;
  max-width: 600px;
  font-weight: normal;
}

.hero p {
  font-size: 1.1rem;
  margin: 1.5rem 0;
  max-width: 500px;
}

:host ::ng-deep .p-button {
  background-color: var(--luxury-accent);
  border: none;
  padding: 0.8rem 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}
