<section class="wellness-container" id="spa">

  <div class="hero-section">
    <span class="subtitle">Rejuvenate Your Soul</span>
    <h1>Sanctuary in the Wild</h1>
    <p>
      Immerse yourself in ancient healing traditions amidst the whispers of the
      canopy.
    </p>
  </div>


  <div class="services-grid">
    <div *ngFor="let service of services; let i = index" class="service-item">
      <p-card [header]="service.title" [subheader]="service.duration">
        <ng-template pTemplate="header">
          <div class="card-image-wrapper">
            <img [src]="service.image" [alt]="service.title" />
          </div>
        </ng-template>

        <p class="service-desc">{{ service.description }}</p>

        <ng-template pTemplate="footer">
          <p-button label="Book Ritual" icon="pi pi-calendar" severity="secondary" [outlined]="true"
            styleClass="w-full"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</section>