<section class="rooms-container" id="rooms">
  <div class="section-header">
    <span class="gold-tag">Private Sanctuaries</span>
    <h1>Your Home in the Clouds</h1>
  </div>

  <div class="room-grid">
    <div *ngFor="let room of rooms; let i = index" class="room-item">
      <p-card [header]="room.name" [subheader]="room.features.join(', ')">
        <ng-template pTemplate="header">
          <div class="card-image-wrapper">
            <img [src]="[room.image]" [alt]="room.name" />
          </div>
        </ng-template>

        <p class="room-description">{{ room.description }}</p>

        <ng-template pTemplate="footer">
          <p-button label="View Availability" icon="pi pi-arrow-right" iconPos="right" severity="contrast"
            styleClass="w-full"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</section>