@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";


@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --luxury-primary: #7a2e2e;
  --luxury-dark: #1f1f1f;
  --luxury-muted: #6b6b6b;
  --luxury-bg: #faf8f6;
  --luxury-accent: #c9a14a;
  --navbar-height: 80px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--luxury-dark);
  background-color: var(--luxury-bg);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.animate-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0);
}

.p-menubar-end {
  margin-left: auto !important;
}

.p-menubar-item-content {
  padding: 8px;
}