section.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 5rem 8%;
}

:host ::ng-deep .p-card {
  box-shadow: none;
  border-radius: 0;
  background: white;
}

:host ::ng-deep .p-card-title {
  font-family: 'Playfair Display', serif;
}
